@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #f5e742;
  background: #4abda6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
}

.nav form,
.nav button{
  display: inline-block;
  font-size: 140%;
  margin-right: 0.5em;
  margin-bottom: 0;
}

.content{
  max-width: 1200px;
  margin: 0 auto;
}

.content img{
  max-height: 100%;
  max-width: 100%;
}

.content img.flags {
  margin-bottom: -190px;
  position: relative;
  z-index: 1000;
}

.shot_wrap{
  display: block;
  margin: 0 auto;
  margin-top: -200px;
  width: 550px;
}
.shot_wrap button{
  width: 550px;
  font-size: 400%;
}

.gallery_pictures {
  display: flex;
  flex-wrap: wrap;
  list-style-type:none;
  padding: 0;
}
.gallery_pictures li{
  padding: 0.5em 0.5em 0.5em 0;
  display: inline-block;
  max-height: 400px;
  max-width: 400px;
}

.gallery_pictures .print {
  display: block;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 0.2em;
  position: relative;
  margin: 0 auto;
  margin-top: -50px;
  z-index: 1000;
  font-size: 110%;
  font-weight: 900;
  width: 50px;
  text-decoration: none;
}

.countdown {
  font-size: 200px;
  font-weight: 900;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.preview_wrapper{
  max-height: 500px;
}

img.preview {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1199px) {
  .preview_wrapper{
    max-height: 1024px;
  }
}
@media (max-width: 991px) {
  .preview_wrapper{
    max-height: 850px;
  }
}
@media (max-width: 767px) {
}

@media only screen and (device-height: 960px) and (orientation: portrait) {
  .preview_wrapper{
    max-height: 750px;
  }
}